body {
    text-align:  center;
    background-image: url(img/pattern.png);
    color: white;
    font-family: "Castellar", sans-serif;
}

#mainbox {
    width: 700px;
    height: 650px;
    margin: auto;
    background-color: rgba(0,0,0,0.90);
    color: white;
    border: 1px solid gray;
}

button {
    background-color: #FFFFFF;
    border: 1px solid;
    font-family: "Castellar", sans-serif;
    border-radius: 2px;
    width:  auto;
    height: 30px;
}

p {
    vertical-align: 400px;
}
